/* The threejs canvas container */
#three-container {
    position: fixed;
    left: 0px;
}

/* The top menu bar */
#top-menu-bar {
    position: fixed;
    left: 20px;
}

/* Sun options container */
#sun-options-container {
    position: fixed;
    right: 20px;
    top: 60px;
    background-color: black;
    color: white;
    opacity: 50%;
    /* text-align: center; */
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 15px;
    border-radius: 10px;
}

/* Sun options box title */
#sun-title {
    text-align: center;
}

/* Sun options box option row */
.sun-op-row {
    padding-bottom: 10px;
}

/* Sun option label */
#sun-options-container .label {
    font-size: x-small;
    display: inline;
    padding-right: 10px;
}

/* Sun option slider */
#sun-options-container .slider {
    display: inline;
}

/* The container */
.checkmark-container {
    display: inline;
    position: relative;
    padding-left: 25px;
    margin-left: 40px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkmark-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #2196F3;
}

/* On play mouse-over, add a dark blue background color */
.checkmark-container:hover input~.checkmark {
    background-color: #0086fc;
    /*#ccc;*/
}

/* On pause mouse-over, add a dark grey background color */
.checkmark-container:hover input:checked~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a grey background */
.checkmark-container input:checked~.checkmark {
    background-color: #eee;
}

/* Create the play symbol (hidden when checked) */
.checkmark:before {
    content: "";
    position: absolute;
    display: block;
}

/* Create the pause symbol (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Hide the pause symbol when checked */
.checkmark-container input:checked~.checkmark:before {
    display: none;
}

/* Show the pause symbol when checked */
.checkmark-container input:checked~.checkmark:after {
    display: block;
}

/* Style the pause symbol */
.checkmark-container .checkmark:after {
    left: 6px;
    top: 6px;
    width: 3px;
    height: 13px;
    border: solid black;
    border-width: 0 5px 0 5px;
}

/* Style the play symbol */
.checkmark-container .checkmark:before {
    left: 9px;
    top: 5px;
    width: 0px;
    height: 0px;
    border-top: 7px solid transparent;
    border-left: 10px solid white;
    border-bottom: 7px solid transparent;
}